.btn-folder {
  display: flex;
  align-items: center;
  gap: 0.75rem; /* espacio entre ícono y texto */
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  color: #202124; /* gris oscuro */
  border-radius: 1rem;
  transition: background-color 0.2s ease;
}

.btn-folder:hover {
  background-color: #f1f3f4; /* hover suave */
}

.btn-folder.active {
  background-color: #e8f0fe; /* azul suave tipo Drive */
  color: #1967d2; /* azul Google */
  font-weight: 500;
}
