/* folders.css */
#mailbox-folders-panel {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #d6dadf; /* Tailwind gray-50 */
  
  border-top: 2px solid #e5e7eb; /* Tailwind gray-200 */
  border-left: 2px solid #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
  

  /* Setup Bordes */
  border-radius: 20px;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;

  
  

  height: 100%;
  width: 100%;
  margin-top: 0%;
}

.btn-folder {
  background-color: #f3f4f6; /* gray-100 */
  color: #374151; /* gray-700 */
  padding: 0.5rem 1rem;
  margin-bottom: 8px;
  
  border-radius: 0.5rem;
  text-align: left;
  font-weight: 500;
  transition: background-color 0.2s;
}

.btn-folder:hover {
  background-color: #e5e7eb; /* gray-200 */
}

.btn-folder.active {
  background-color: #3b82f6; /* blue-500 */
  color: white;
}
